.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-style: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}
@media (max-width: 376px) {
    .breadcrum {
        margin: 10px;
        text-transform: capitalize;
    }
}